PROJECT_NAME=sp500-data-pipeline

# PostgreSQL
POSTGRES_DB=sp500_db
POSTGRES_USER=sp500_admin
POSTGRES_PASSWORD=Password

# PostgreSQL Connection
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=Password
MINIO_BUCKET=sp500-data-lake

# MinIO Connection
MINIO_ENDPOINT=http://minio:9000
MINIO_ENDPOINT_INTERNAL=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=sp500_minio_secure

# Batch
BATCH_FREQUENCY=quarterly

# SP500 File path
SP_500_FILENAME=sp500_stock_data.csv
SP_500_DATA_PATH=/app/data/sp500_stock_data.csv